<div [class.wrapper]="id">
  <div class="node-container" *ngIf="node; else growingUp">
    <span *ngIf="children" (click)="toggleChildren()" [ngClass]="{'open': showChildren, 'node-pointer': true}">&#9656;</span>
    <span class="node-name" (click)="navigateTo($event)">{{name}}</span>
  </div>
  <ng-container *ngIf="showChildren && children && children.length">
    <div class="node-child" *ngFor="let node of children">
      <app-tree-node [node]="node"></app-tree-node>
    </div>
  </ng-container>

  <ng-template #growingUp>the tree is growing up...</ng-template>
</div>

