<div class="wrapper">
  <figure>
    <div [ngClass]="{'image-with-bg': itemImage, 'image': true}">
      <svg style="fill: url(#rainbow-gradient) rgb(255,0,0);" viewBox="0 0 50 50">
        <g>
          <path [attr.d]="itemImage"></path>
        </g>
      </svg>
    </div>
    <figcaption>
      <h1 class="title">{{id}}</h1>
    </figcaption>
  </figure>

  <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
    <linearGradient id="rainbow-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
    </linearGradient>
  </svg>

</div>
