<div class="wrapper">
  <figure>
    <div [ngClass]="{'image-with-bg': itemImage, 'image': true}">
      <svg style="fill: url(#rainbow-gradient) rgb(255,0,0);" viewBox="0 0 50 50">
        <g>
          <path [attr.d]="itemImage"></path>
        </g>
      </svg>
    </div>
    <figcaption>
      <h1 class="title">{{id}}</h1>
    </figcaption>
  </figure>

  <svg style="width: 0; height: 0; position: absolute;" aria-hidden="true" focusable="false">
    <linearGradient _ngcontent-com-c1="" id="rainbow-gradient" x1="100%" y1="100%">
      <stop _ngcontent-com-c1="" offset="0%" stop-color="red" stop-opacity="1">
        <animate _ngcontent-com-c1="" attributeName="stop-color" dur="5s" repeatCount="indefinite" values="red; yellow; red"></animate>
      </stop>
      <stop _ngcontent-com-c1="" offset="100%" stop-color="yellow" stop-opacity="1">
        <animate _ngcontent-com-c1="" attributeName="stop-color" dur="5s" repeatCount="indefinite" values="yellow; red; yellow"></animate>
      </stop>
    </linearGradient>
  </svg>

</div>
