.title {
  text-align: center;
  font-size: 40px;
}

.image {
  width: 300px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;

  &.image-with-bg {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
