<div class="wrapper">
  <form (submit)="onSubmit()">
    <input [(ngModel)]="userInputUrl" name="userInputUrl">
    <button type="submit">Plant a tree</button>
  </form>
  <h1 *ngIf="urlToShow" class="title">
    Showing the tree for: <br/>
    {{urlToShow}}
  </h1>

  <div class="tree" *ngIf="tree && tree.length; else growingUp">
    <div class="node" *ngFor="let node of tree">
      <app-tree-node [node]="node"></app-tree-node>
    </div>
  </div>

  <ng-template #growingUp>the tree is growing up...</ng-template>
</div>

