@import '~angular-tree-component/dist/angular-tree-component.css';


body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

.wrapper {
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 15px 10px #555555;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.tree-node {
  margin-top: 10px;
}

.node-content-wrapper {
  &:hover {
    text-decoration: underline;
    box-shadow: none;
    cursor: pointer;
  }
}

%image-with-bg {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;

  &-apple {
    @extend %image-with-bg;
    background-image: url('assets/images/apple.svg');
  }
  &-banana {
    @extend %image-with-bg;
    background-image: url('assets/images/banana.svg');
  }
  &-pineapple {
    @extend %image-with-bg;
    background-image: url('assets/images/pineapple.svg');
  }
  &-strawberry {
    @extend %image-with-bg;
    background-image: url('assets/images/strawberry.svg');
  }
  &-cherry {
    @extend %image-with-bg;
    background-image: url('assets/images/cherry.svg');
  }
}
